* {
    box-sizing: border-box;
}

@font-face {
    font-family: Eurofurenceregular;
    src: url(../fonts/Eurofurenceregular/eurof35.ttf);
}

@font-face {
    font-family: Amatic_SC;
    src: url(../fonts/Amatic_SC/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: Rowdies;
    src: url(../fonts/Rowdies/Rowdies-Regular.ttf);
}

@font-face {
    font-family: Suez_One;
    src: url(../fonts/Suez_One/SuezOne-Regular.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
    font-family: CabinSketch;
    src: url(../fonts/CabinSketch/CabinSketch-Bold.ttf);
}

@font-face {
    font-family: Atma;
    src: url(../fonts/Atma/Atma-Medium.ttf);
}

html {
    /* color: #ef476f; */
}

body {
    font-family: Atma;
    margin: 0;
    height: 100%;
    min-height: 100%;
    background-color: white;
    overflow: scrol;
    background-color: rgb(236, 236, 236);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 400;
}

button {
    outline: none;
    font-family: Atma;
}

button a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 980px;
    height: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    background-image: linear-gradient(to right, rgb(0, 106, 182), rgb(192, 1, 1));
    /* background-image: linear-gradient(to right, rgb(14, 116, 187), rgb(213, 91, 119)); */
    border-radius: 10px;
    box-shadow: inset;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    font-family: CabinSketch;
    font-size: 2.5rem;
    letter-spacing: 0.05em;
    color: white;
    font-weight: 700;
}

.main-nav button {
    background-color: transparent;
    color: #eef5f3;
    cursor: pointer;
    border: none;
    width: 132px;
    height: 80px;
    font-weight: 700;
    z-index: 1;
    outline: none;
    transition: .5s;
    font-size: 1.1rem;
}

.main-nav button:hover {
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #ffffff;
}

.mobile-menu-btn, .mobile-close-btn {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.mobile-menu-btn:hover, .mobile-close-btn:hover {
    opacity: 0.3;
}

canvas {
    border: 3px solid rgb(14, 116, 187);
    display: block;
    margin-left: 30px;
    border-radius: 15px;
    margin: 0;
}

.canvas-container {
    margin: 0 auto;
    width: 100%;
    height: 60vh;
}

.meme-editor {
    height: 100%;
    padding-top: 200px;
    position: relative;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 150px;
}

.meme-editor::-webkit-scrollbar {
    display: none;
}

.meme-editor>* {
    flex: 0 0 50%;
}

.gallery {
    padding-top: 100px;
}

.image-gallery {
    height: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: 220px;
    grid-gap: 10px;
    grid-auto-flow: dense;
    overflow: auto;
    padding-bottom: 120px;
}

.image-gallery>* {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: rgb(255, 231, 109) 3px solid;
    border-radius: 20px;
}

.meme {
    transition: opacity .4s;
}

.meme:hover {
    opacity: 0.5;
}

.actions {
    flex-direction: column;
    justify-content: space-around;
}

.actions>* {
    margin-bottom: 10px;
    /* flex: 0 0 100%; */
}

.action>* {
    margin: 0 auto;
}

.actions button {
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
}

.actions button:hover {
    background-color: rgb(88, 88, 88);
    /* background-color: rgb(255, 231, 109); */
    opacity: 0.8;
}

.btn-final-action {
    color: white;
    border-radius: 20px;
    transition: background-color .3;
    cursor: pointer;
    width: 120px;
}

.btn-save {
    /* background-color: rgb(14, 116, 187); */
    background-image: linear-gradient(to right, #976fbd, #5e548e);
}

.btn-down {
    background-image: linear-gradient(to right, rgb(213, 91, 119), rgb(155, 9, 43));
}

.btn-share {
    background-image: linear-gradient(to right, #0f90f2, #0365af);
}

.btn-upload {
    background-image: linear-gradient(to right, rgb(255, 219, 121), rgb(217, 162, 7));
    width: 200px;
    margin: 0 auto;
    color: white;
}

input[type="file"] {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    opacity: 0;
}

/* background-color: #5e548e; */

/* rgb(213,91,119),blue rgb(14,116,187) pink rgb(255,214,0) orenge rgb(217,162,7)   */

.btn-final-action:hover {
    opacity: 0.7;
}

.stickers {
    margin: 0 auto;
    margin-bottom: 10px;
    background: white;
    border-radius: 25px;
    padding: 20px;
    border: 5px solid rgb(213, 91, 119);
}

.stickers>* {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.sticker:hover {
    opacity: 0.7;
}

.sticker-actions {
    margin: 0 auto;
}

.sticker-actions>* {
    background-color: transparent;
}

.btn-increase-sti {
    color: rgb(41, 160, 67);
}

.btn-decreas-sti {
    color: rgb(177, 0, 0);
}

.btn-remove-sti {
    color: rgb(14, 116, 187);
}

.action11 {
    border-radius: 20px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.action11:focus {
    background-color: rgb(85, 85, 85);
}

.action12, .action3, .action4, .action5, .action8, .action11 {
    background-color: rgb(48, 48, 48);
    padding-right:20px;
    padding-left:20px;
    color: white;
    /* background-image: linear-gradient(to right, rgb(185, 255, 214), rgb(243, 212, 255)); */
}

.input-text {
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    transition: background-color .3s;
    outline: none;
    width: 70%;
}

.input-text:focus {
    background-color: rgb(255, 231, 109);
}

#mysearch {
    border-radius: 20px;
    padding: 10px;
    transition: background-color .3s;
    outline: none;
}

#mysearch:focus {
    background-color: rgb(255, 231, 109);
}

.upload {
    text-align: center;
}

.btn-font {
    cursor: context-menu;
}

.meme {
    cursor: pointer;
}

.key-words {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.more-btn {
    background-color: rgb(10, 108, 179);
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.more-btn:hover {
    opacity: 0.7;
}

.btn-key {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
    transition: .3s;
    border-radius: 20px;
}

.btn-key:hover {
    background-color: rgb(14, 116, 187);
    opacity: 0.5;
}

.close-btn {
    font-size: 1.5rem;
    width: 700;
    color: rgb(14, 116, 187);
    transition: .3s;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.close-btn:hover {
    opacity: 0.5;
}

/* FOOTER */

.main-footer {
    background-image: linear-gradient(to right, rgb(0, 106, 182), rgb(192, 1, 1));
    /* background-image: linear-gradient(to right, rgb(14, 116, 187), rgb(213, 91, 119)); */
    border-radius: 10px;
    position: relative;
    /* height: 3.5rem; */
    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 5;
}

.main-footer .container {
    flex-direction: column;
    align-items: center;
}

.main-footer .logo {
    font-size: 1.5rem;
}

.social>* {
    font-size: 1.5rem;
    color: #e5e5e5;
    margin: 10px;
}

@media(min-width: 820px) {
    .mobile-menu-btn {
        display: none;
    }
}

/*---- Media Queries ---------*/

@media(max-width: 820px) {
    .container {
        max-width: 700px;
    }
    .main-nav {
        flex-direction: column;
        position: fixed;
        z-index: 2;
        top: 50px;
        right: 0;
        height: 100%;
        /* background: rgb(0, 56, 56, 0.2); */
        opacity: 0.85;
        transform: translateX(100%);
        border-left: solid 1px;
        transition: transform .8s, box-shadow .8s;
        z-index: 5;
        background-color: rgb(136, 136, 136);
    }
    .main-nav li {
        width: 100%;
        transition: background-color .3s;
        border: rgb(255, 231, 109) 1px solid;
    }
    .main-nav button {
        color: black;
        width: 100%;
        font-size: 1.5rem;
        width: 200px;
        height: 70px;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -8px 0px 20px rgb(0 0 0 / 10%);
    }
    body.menu-open .screen {
        opacity: 1;
        visibility: visible;
    }
    body.menu-open .mobile-close-btn {
        display: block;
    }
    body.menu-open .mobile-menu-btn {
        display: none;
    }
    .gallery {
        padding-top: 50px;
    }
    .main-footer .container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    #canvas {
        margin: 0 auto;
        width: 350px;
        height: 350px;
    }
    .meme-editor {
        padding-top: 30px;
        padding-bottom: 50px;
        flex-direction: column;
        height: 100%;
        margin-bottom: 20px;
        padding-top: 60px;
    }
    .search-section {
        padding: 20px;
    }
    .actions {
        padding-top: 20px;
    }
    .modal {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 550px) {
    .container {
        max-width: 400px;
    }
    .meme-editor {
        flex-direction: column;
        height: 100%;
        margin-bottom: 40px;
        padding-top: 80px;
    }
    #canvas {
        margin: 0 auto;
        width: 250px;
        height: 250px;
    }
    .main-header {
        margin-bottom: 10px;
    }
    .canvas-container {
        margin: 0 auto;
        width: 40vw;
        height: 30vh;
    }
    .actions {
        height: 50px;
    }
    .image-gallery {
        margin: 0 auto;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-auto-rows: 120px;
    }
    .key-words {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .stickers>* {
        width:25px;
        height: 25px;
        cursor: pointer;
    }
    .btn-final-action .btn-upload{
        font-size: 0.9rem;
        padding: 0;
        margin: 3px;
    }

}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.display {
    display: none;
}

.mobile-close-btn {
    display: none;
}


/* MODAL */

.modal {
    position: fixed;
    top: 20%;
    left: 30%;
    width: 500px;
    height: 400px;
    text-align: center;
    font-size: 1.8rem;
    z-index: 5;
    padding: 10px;
    visibility: hidden;
    border-radius: 50px;
    background-image: url(../imgs/gif3.gif);
    background-size: cover;
    font-size: 1.2rem;
}

.email {
    border: rgb(190, 42, 42) 2px solid;
    font-size: 1.3rem;
    border-radius: 20px;
}

.email-form {
    height: 50px;
    font-size: 1.2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

.email:focus {
    background-color: rgba(255, 79, 79, 0.9);
    transition: background-color .5s;
    outline: none;
}

.btn-submit {
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
    outline: none;
    background:   rgb(10, 108, 179);
    transition: .3s;
    border: 1.5px solid black;
}

.btn-submit:hover {
    opacity: 0.7;
}

.modal .btn-close {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    background:  rgb(10, 108, 179);
    transition: .3s;
    border: 1.5px solid black;
}

.modal .btn-close:hover {
    opacity: 0.7;
}

body.modal-open .screen {
    opacity: 1;
    visibility: visible;
}

body.modal-open .modal {
    visibility: visible;
}
